.desktop-2 .vector-3 {
  margin: 213px 85.7px 186.6px 0;
  width: 963.8px;
  height: 572.4px;
}
.desktop-2 .rectangle-2 {
  background: #D9D9D9;
  width: 183px;
  height: 79px;
}
.desktop-2 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 213px 39px 52px 0;
  width: 1440px;
  box-sizing: border-box;
}
